</main>
<br> <br>
<footer class="bg-gray-800 text-white py-4" style="position: fixed; bottom: 0; left: 0; width: 100%;">
    <div class="container mx-auto text-center">
        <p>&copy; {{ "now"|date("Y") }} {{ site_name }}. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
